<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.element.authentication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.element.ApiKey"
            android:value="YOUR_API_KEY"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.element.orbit.OrbitReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.element.orbit.ACTION_RESPONSE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
